"@1iHKLG+gYpLcnUnF6"
":1iHKLG+gYpLcnUnF6"
"1iHKLG+gYpLcnUnF6"
"65536"
"=65536"
"3.1415e0"
"^3.1415e+0"
"'string'"
"'\\n\\t\\n'"
"'\xd1\x80\xd1\x83\xd1\x81\xd1\x81\xd0\xba\xd0\xb8\xd0\xb9'"
"'\xe6\xb1\x89\xe5\xad\x97\x20\xe6\xbc \xa2\xe5\xad\x97'"
"lww"
"rga"
"@~ 'comment'!"
