@~ 'Request-response testing for the plain text mapper (a.k.a. txt)' !
@1hL9lO+test_txt :rga ; 'H'; 'e'; 'l'; 'l'; 'o'; ' '; 't'; 'h'; 'e'; 'r'; 'e';
.
@~ 'Request the text' !
@1hL9lO-test_txt :txt ? 
.
@~ 'should be the correct string' ?
@1hL9lO-test_txt :txt 'Hello there' !
.


@~ 'Now, lets add a letter' !
@1hL9lO000C+test_txt :1hL9lO000B+test_txt '!';
.
@~ 'Request the text' !
@1hL9lO-test_txt :txt ? 
.
@~ 'The letter must be there' ?
@1hL9lO-test_txt :txt 'Hello there!' !
.


@~ 'OK, lets edit the string (range-delete, insert)' !
@1hL9lO000D+test_txt :1hL9lO000C+test_txt rm; rm; rm; rm; rm; rm;
@1hL9lO000J+test_txt :1hL9lO0006+test_txt 'w'; 'o'; 'r'; 'l'; 'd';
.
@~ 'query' ! 
@1hL9lO-test_txt :txt ?
.
@~ 'The edited string' ?
@1hL9lO-test_txt :txt 'Hello world' !
.


@~ 'Lets undelete a letter' !
@1hL9lO000O+test_txt :1hL9lO000D+test_txt un;
.
@~ !
@1hL9lO-test_txt :txt ?
.
@~ 'The "!" returns' ?
@1hL9lO-test_txt :txt 'Hello world!' !
.


@~ 'An ack is not a delete' !
@1hL9lO000P+test_txt_B :1hL9lO0001+test_txt ;
.
@~ ! 
@1hL9lO-test_txt :txt ?
.
@~ 'No changes' ?
@1hL9lO-test_txt :txt 'Hello world!' !
.

