@~ 'create an lww object'!

@1hLHRG+test_lww :lww !
    'type' 'ticket',
    'date' '19 Jan 2019',
    'organisation' 'The State Museum of Oriental Art',
    'price' 30000,
.

@~ 'update the object' !
@1hLHXS+test_lww :1hLHRG0004+test_lww 
    'enter' '18:18:14',
    'exit'  '20:45:25',
.

@~ 'request the state' !
@1hLHRG+test_lww :lww ?
.

@~ 'is it all merged' ?
@1hLHRG+test_lww :lww !
    'type' 'ticket',
    'date' '19 Jan 2019',
    'organisation' 'The State Museum of Oriental Art',
    'price' 30000,
@1hLHXS+test_lww
    'enter' '18:18:14',
    'exit'  '20:45:25',

@~ 'TODO undo/redo needs op-specific delete/undelete' !
@~ 'TODO readable business datetime, e.g. 19A192045P' !
.



